.nav {
  color: rgb(var(--gray-300));
  font-size: var(--text-sm);
  margin: 0.75rem auto;
  width: 100%;
}

@media (min-width: 768px) {
  .nav {
    width: 768px;
  }
}

.links {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

@media (min-width: 768px) {
  .links {
    gap: 2.5rem;
  }
}

.link {
  border-radius: var(--rounded);
  color: rgb(var(--gray-400));
  padding: 0.25rem 1rem;
  text-decoration: none;
}

@media (any-hover: hover) {
  .link:hover {
    background: rgb(var(--gray-600));
    color: rgb(var(--gray-100));
  }
}

.link:active,
.link:focus-visible {
  background: rgb(var(--gray-600));
  color: rgb(var(--gray-100));
}
