.container {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0.75rem 0;
}

@media (width >= 48rem) {
  .container {
    margin: 0 auto;
    width: 48rem;
  }
}

.link {
  color: rgb(var(--gray-100));
  font-size: var(--text-sm);
  font-weight: 600;
  margin: 0 0.25rem 0 1rem;
  overflow: hidden;
  padding: 0.25rem 0;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.close {
  border-radius: var(--rounded);
  line-height: 1;
  margin: 0 0.25rem;
  padding: 0.5rem 0.6rem;
}

@media (any-hover: hover) {
  .close:hover {
    background: rgb(var(--gray-600));
    color: rgb(var(--gray-100));
  }
}

.close:focus-visible {
  background: rgb(var(--gray-600));
  color: rgb(var(--gray-100));
}

.close:active {
  background: rgb(var(--gray-600));
  color: rgb(var(--purple-400));
}

.close :global(.closeIcon) {
  height: 1.25rem;
  vertical-align: -0.275em;
  width: 1.25rem;
}
