{
  "extends": ["stylelint-config-standard"],
  "plugins": ["stylelint-order"],
  "overrides": [
    {
      "files": "src/**/*.svelte",
      "customSyntax": "postcss-html"
    }
  ],
  "rules": {
    "at-rule-no-unknown": [
      true,
      { "ignoreAtRules": ["layer", "responsive", "screen"] }
    ],
    "order/properties-alphabetical-order": true
  }
}
