.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 70vh;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.link {
  color: rgb(var(--gray-200));
  text-decoration-color: rgb(var(--gray-200) / 70%);
}

@media (hover: hover) and (pointer: fine) {
  .link:hover {
    color: rgb(var(--purple-400));
    text-decoration-color: rgb(var(--purple-400) / 70%);
  }
}

.link:active {
  color: rgb(var(--purple-400));
  text-decoration-color: rgb(var(--purple-400) / 70%);
}

.linkSymbol {
  color: rgb(var(--gray-200) / 70%);
}

@media (hover: hover) and (pointer: fine) {
  .link:hover .linkSymbol {
    color: rgb(var(--purple-400));
  }
}

.link:active .linkSymbol {
  color: rgb(var(--purple-400));
}
