.main {
  margin: 0 auto;
  padding: 7rem 1rem;
  width: 100%;
}

@media (width >= 768px) {
  .main {
    width: 768px;
  }
}

@media (width >= 1024px) {
  .main {
    width: 1024px;
  }
}

.hidden {
  display: none;
}
