.main {
  margin: 0 auto;
  padding: 7rem 1rem;
  width: 100%;
}

@media (width >= 48rem) {
  .main {
    width: 48rem;
  }
}

@media (width >= 64rem) {
  .main {
    width: 64rem;
  }
}

.hidden {
  display: none;
}
