html {
  font-size: var(--text-base);
  line-height: 1.5;
  scrollbar-gutter: stable;
  -webkit-text-size-adjust: 100%;
}

body {
  background: rgb(var(--gray-800));
  color: rgb(var(--gray-400));
  font-family: var(--font-sans);
  font-size: var(--text-base);
  line-height: inherit;
}

h1 {
  color: rgb(var(--gray-100));
  font-size: var(--text-5xl);
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  color: rgb(var(--gray-100));
  font-size: var(--text-5xl);
  font-weight: 700;
  line-height: 1.2;
}

a {
  text-decoration: underline;
  text-decoration-thickness: 0.05rem;
  text-underline-offset: 0.25rem;
}

a:active {
  color: rgb(var(--purple-400));
  text-decoration-color: rgb(var(--purple-400) / 50%);
}

button {
  cursor: pointer;
}

img {
  vertical-align: middle;
}

iframe {
  border: none;
  vertical-align: middle;
}
