:root {
  /* font size */
  --text-xxs: 0.675rem;
  --text-xs: 0.8125rem;
  --text-sm: 0.9375rem;
  --text-base: 1.0625rem;
  --text-2xl: 1.25rem;
  --text-3xl: 1.65rem;
  --text-4xl: 2rem;
  --text-5xl: 2.5rem;

  /* font family */
  --font-sans: system-ui, Arial, sans-serif; /* stylelint-disable-line value-keyword-case */
  --font-mono: ui-monospace, SFMono-Regular, Menlo, monospace; /* stylelint-disable-line value-keyword-case */

  /* border radius */
  --rounded: 0.25rem;

  /* color */
  --purple-400: 192 132 252;
  --purple-500: 168 85 247;
  --purple-600: 147 51 234;
  --purple-700: 126 34 206;
  --purple-800: 107 33 168;
  --gray-100: 236 239 244;
  --gray-200: 219 222 227;
  --gray-400: 183 180 199;
  --gray-500: 166 163 182;
  --gray-600: 53 51 60;
  --gray-700: 36 34 43;
  --gray-800: 19 17 26;
  --gray-900: 2 0 11;
}
