.container {
  display: flex;
  flex-flow: column;
  gap: 2.5rem;
}

.main {
  display: flex;
  flex-flow: column;
  gap: 1.2rem;
}

.tape {
  align-items: flex-start;
  display: flex;
  flex-flow: column;
  gap: 0.35rem;
}

.title {
  border-bottom: 2px solid rgb(var(--gray-100) / 70%);
  color: rgb(var(--gray-100));
  font-size: var(--text-2xl);
  font-weight: 700;
  padding: 0 0 0.1rem;
  text-decoration: none;
}

.blankTitle {
  border-bottom: 2px solid rgb(var(--gray-100) / 40%);
  color: rgb(var(--gray-100) / 50%);
  font-size: var(--text-2xl);
  font-weight: 700;
  line-height: 1.3;
}

@media (any-hover: hover) {
  .title:hover {
    border-bottom: 2px solid rgb(var(--purple-400) / 50%);
    color: rgb(var(--purple-400));
  }
}

.title:active,
.title:focus-visible {
  border-bottom: 2px solid rgb(var(--purple-400) / 50%);
  color: rgb(var(--purple-400));
}

.titleSymbol {
  color: rgb(var(--gray-100) / 70%);
  font-size: var(--text-base);
  margin: 0 0 0 0.5rem;
}

@media (any-hover: hover) {
  .title:hover .titleSymbol {
    color: rgb(var(--purple-400));
  }
}

.title:active .titleSymbol,
.title:focus-visible .titleSymbol {
  color: rgb(var(--purple-400));
}

.date {
  font-size: var(--text-xs);
}
