.container {
  display: flex;
  flex-flow: column;
  gap: 2.5rem;
}

.main {
  display: grid;
}

@media (width >= 1024px) {
  .main {
    gap: 1rem;
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

@media (width >= 1024px) {
  .mainInner {
    grid-column: 2 / span 4;
  }
}

.description {
  margin: 1rem 0 0;
}

.link {
  box-shadow: 0 1px rgb(var(--purple-400) / 70%);
  color: rgb(var(--purple-400));
  text-decoration: none;
}

.link :global(.linkIcon) {
  color: rgb(var(--purple-400) / 70%);
  height: 1.125rem;
  margin: 0 0 0 0.1rem;
  vertical-align: -0.1rem;
  width: 1.125rem;
}
