.container {
  background: rgb(var(--gray-700));
  font-family: var(--font-mono);
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 10;
}

.nav {
  margin: 0.5rem 0;
}

.link {
  border-radius: var(--rounded);
  display: inline-block;
  font-weight: 600;
  margin: 0.25rem;
  padding: 0.25rem 1rem;
  text-decoration: none;
  text-transform: lowercase;
}

@media (any-hover: hover) {
  .link:hover {
    background: rgb(var(--gray-600));
  }
}

.link:active,
.link:focus-visible {
  background: rgb(var(--gray-600));
}

.account {
  color: rgb(var(--gray-100));
  font-size: var(--text-xs);
}

.repository {
  color: rgb(var(--purple-400));
  font-size: var(--text-base);
}
