.container {
  text-align: center;
}

.description {
  font-size: var(--text-sm);
  margin: 0.25rem 0 0;
}

.link {
  box-shadow: 0 1px rgb(var(--gray-400) / 70%);
  text-decoration: none;
}

@media (any-hover: hover) {
  .link:hover {
    box-shadow: 0 1px rgb(var(--purple-400) / 50%);
    color: rgb(var(--purple-400));
  }
}

.link:active,
.link:focus-visible {
  box-shadow: 0 1px rgb(var(--purple-400) / 50%);
  color: rgb(var(--purple-400));
}

.link :global(.linkIcon) {
  color: rgb(var(--gray-400) / 70%);
  height: 1rem;
  margin: 0 0 0 0.1rem;
  vertical-align: -0.1rem;
  width: 1rem;
}

@media (any-hover: hover) {
  .link:hover :global(.linkIcon) {
    color: rgb(var(--purple-400) / 70%);
  }
}

.link:active :global(.linkIcon),
.link:focus-visible :global(.linkIcon) {
  color: rgb(var(--purple-400) / 70%);
}
