.container {
  text-align: center;
}

.description {
  font-size: var(--text-sm);
  margin: 0.25rem 0 0;
}

.link {
  text-decoration-color: rgb(var(--gray-400) / 70%);
}

@media (any-hover: hover) {
  .link:hover {
    color: rgb(var(--purple-400));
    text-decoration-color: rgb(var(--purple-400) / 50%);
  }
}

.link:active,
.link:focus-visible {
  color: rgb(var(--purple-400));
  text-decoration-color: rgb(var(--purple-400) / 50%);
}

.link :global(.linkIcon) {
  color: rgb(var(--gray-400) / 70%);
  height: 1rem;
  vertical-align: -0.15em;
  width: 1rem;
}

@media (any-hover: hover) {
  .link:hover :global(.linkIcon) {
    color: rgb(var(--purple-400) / 70%);
  }
}

.link:active :global(.linkIcon),
.link:focus-visible :global(.linkIcon) {
  color: rgb(var(--purple-400) / 70%);
}
